		</main>
	</div> <!-- /container -->
	
	<!-- Footer -->
      <footer class="footer">
    	<div class="container">
    	    <p>© Kiteblaze 2017</p>
	    </div>
      </footer>

    

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Login Modal if required -->
<script type="text/javascript">
jQuery(document).ready(function($) {
var hash = window.location.hash;
    if(hash == '#loginforce') {
          $("#at-login").modal();
    }
    if(hash == '#registerforce') {
          $("#at-signup-filling").modal();
    }
});

$(document).ready(function () {
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);
        console.log("Hey");
        if ($target.parent().hasClass('disabled')) {
            return false;
        }

    });
    

    $(".next-step").click(function (e) {
        console.log("Next clicked");
        var $active = $('.wizard .nav-tabs li.active');
        $active.removeClass('active');
        $active.addClass('disabled');

        $active.next().removeClass('disabled');
        $active.next().addClass('active');

        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.removeClass('active');
        $active.addClass('disabled');

        $active.prev().removeClass('disabled');
        $active.prev().addClass('active');

        prevTab($active);

    });
});

function nextTab(elem) {
    console.log("Next");
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    console.log("Prev");
    $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>

<!-- socket logs script -->
<!-- later add condition to check if socket required -->
<% include sockets/socketFooter.ejs %>

</body></html>