<!-- add header -->
<% include partials/header %>


<h3 class="jumbotron-heading text-center">About Kiteblaze</h3>
<p>KiteBlaze is your localhost on Cloud. Use Kiteblaze to deploy and test your app instantly and share with your team.  We deploy apps instantly in 3 simple steps:</p>
<ul>
<li>Link your Github URL</li>
<li>Configure Database and migrate data</li>
<li>Launch your app</li>
</ul>

<p>Boom! In 3 simple steps your app is up and running. We manage everything from installing the required packages, whether it is node.js or PHP laravel, we will handle the composer and npm package installation. Share this app URL with your Project/Team Leads and your front-end teams. </p>

<p>You are an awesome programmer and continue what you do best. Let us deal with all the shit around cloud instances, keys and .pem files, deploying and scaling.</p>

<!-- close with footer -->
<% include partials/footer %>