<!-- add header -->
<% include partials/header %>

<h3>Contact us below</h3>
<p/>
<p>Twitter - @kiteblaze_cloud</p>
<p>Email - jitin2pillai@gmail.com</p>

<!-- close with footer -->
<% include partials/footer %>