<!-- add header -->
<% include partials/header %>

<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="nav connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="nav active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-github"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="nav disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="fa fa-database"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="nav disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="nav disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h4 class="jumbotron-heading">1. Import your code</h4>
                        <p>Link Git repo and import all your code.</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h4 class="jumbotron-heading">2. Configure Database</h4>
                        <p>Select the Database your application uses. Set it up and migrate data (if required)</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h4 class="jumbotron-heading">3. Configure your project environment</h4>
                        <p>Update your environment files with Database hostname, username and passwords. Any other changes you wish to apply.</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h4 class="jumbotron-heading">Launch</h4>
                        <p>All looks good. Click launch and open below URL</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
    </section>



<!-- close with footer -->
<% include partials/footer %>