<!-- add header -->
<% include partials/header %>
   
    <section class="jumbotron text-center">
      <div class="col-md-12 col-xs-12" style="margin-top:20px;"> 
  <table class="table table-bordered table-hover table-striped table-foldersystem">
    <thead>
      <tr>
        <th></th>
        <th>Dosya İsmi</th>
        <th>Boyut</th>
        <th>Değiştirilme Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td align="left">Images</td>
        <td align="left">4 MB</td>
        <td align="left">10.02.2015 11:22:54</td>
      </tr>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td align="left">CSS</td>
        <td align="left">1 MB</td>
        <td align="left">11.02.2015 10:02:23</td>
      </tr>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td align="left">Plugins</td>
        <td align="left">12 MB</td>
        <td align="left">01.02.2015 09:02:23</td>
      </tr>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td align="left">JS</td>
        <td align="left">4 MB</td>
        <td align="left">15.02.2015 22:33:12</td>
      </tr>
       <tr>
        <td><i class="fa fa-image"></i></td>
        <td align="left">logo.jpg</td>
        <td align="left">1 MB</td>
        <td align="left">01.02.2015 15:12:34</td>
      </tr>
      <tr>
        <td><i class="fa fa-film"></i></td>
        <td align="left">teaser.mp4</td>
        <td align="left">141 MB</td>
        <td align="left">22.09.2014 09:09:12</td>
      </tr>
      <tr>
        <td><i class="fa fa-file"></i></td>
        <td align="left">index.php</td>
        <td align="left">0.1 MB</td>
        <td align="left">22.09.2014 09:11:56</td>
      </tr>
    </tbody>
    </table>
</div>
    </section>

  

<!-- close with footer -->
<% include partials/footer %>