<!-- add header -->
<% include partials/header %>
   
    <section class="jumbotron text-center">
      <div class="container">
        <h3 class="jumbotron-heading">Deploy your web apps in 4 easy steps</h3>
        <p class="lead text-muted">KiteBlaze is your localhost on Cloud. Use Kiteblaze to deploy and test your web apps instantly. </p>
        <p>
          <a href="/deploy" class="btn btn-primary">Start deploying now</a>
        </p>
      </div>
    </section>

  

<!-- close with footer -->
<% include partials/footer %>