<!-- Testing Process Flow for Bootstrap -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Form wizard (using tabs) - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   
   <link href="/stylesheets/bootstrap/font-awesome.css" rel="stylesheet">

 <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<!--
<section>
<div class="wizard">
	<div class="wizard-inner">
	<div class="connecting-line">
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active" role="presentation">
		    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-github"></i>
                            </span>
                        </a>
		  </li>
		  <li class="disabled" role="presentation" >
		    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="fa fa-database"></i>
                            </span>
                        </a>
		  </li>
		  <li class="disabled" role="presentation" >
		    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
		  </li>
		  <li class="disabled" role="presentation">
		    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
		  </li>
		</ul>
	</div>
</div>
</div>
</section>
-->

		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-github"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="fa fa-database"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

           
        </div>
    </section>

<!-- 
   </div>
</div>
-->

<script type="text/javascript">

</script>



</body>
</html>