<!-- form for submitting Git Repo Link -->
<div class="container">
<form role="gitRepoLink" action="/deploy/code" method="post">
  <div class="form-group">
    <label for="gitRepoLink1">Git repo link</label>
    <input type="" class="form-control" id="gitRepoLink1" aria-describedby="gitRepoLinkHelp" placeholder="Enter Git repo link" name="repolink">
    <small id="gitRepoLinkHelp" class="form-text text-muted">Enter the complete URL.</small>
  </div>
  <div class="form-group">
    <label for="stackSelect1">Select your Tech Stack</label>
    <select class="form-control" id="stackSelect1">
      <option>Node-js Express</option>
      <option>PHP Laravel</option>
      <option>Wordpress</option>
      <option>Angularjs</option>
      <option>React</option>
    </select>
  </div>
  
  <container>
    <button type="submit" class="btn btn-primary" name="repoSubmit" >Submit</button>
    <button type="button" class="btn btn-primary float-right" name="nextSubmit" disabled>Next</button>
  <container>
</form>
</div>

<!-- Log for displaying progress -->
<!-- should be in separate file -->
<div>
  <br><br>
  <div id="click"><p><b>-------- log will appear here --------------</b></p></div>
   <div id="logs">
    <samp>nothing to show..</samp> <br>
  </div>
</div>